---
layout: default
---

<div class="post">
    <header class="post-header">
      <h1 class="post-title">
       {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
      </h1>
      <p class="desc">{{ page.subtitle }}</p>
    </header>

    <article>
      {% if page.profile -%}
      <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
        {%- if page.profile.image %}
          {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

          {% if page.profile.image_circular %}
            {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
          {% else %}
            {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
          {% endif %}

          {% include figure.html
          path=profile_image_path
          class=profile_image_class
          alt=page.profile.image -%}

          <p style="text-align: center; font-size: 15px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
            </svg> at <a href="https://www.google.com/maps/place/%E5%8D%97%E4%B8%AB%E5%B3%B6/@22.2094984,114.1100165,14z/data=!3m1!4b1!4m6!3m5!1s0x34015525e747cd15:0x46a8f8c41a0ec182!8m2!3d22.2000056!4d114.1350173!16s%2Fg%2F1tfm45n9">Lamma Island</a> in 2023
           </p>
        
          {% if page.social %}
          <div class="social">
            <div class="contact-icons">
              {% include social.html %}
            </div>
            <!-- <div class="contact-note">{{ page.profile.address }}</div> -->
          </div>

        {% endif -%}
        {%- if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
        {%- endif %}
      </div>
      {%- endif %}

      <div class="clearfix" style="font-size: 120%;">
        {{ content }}
      </div>


    {% endif %}
    </div>
    <hr align="right" width="100%">  

    <!--  add research -->
    {% if page.news %}
      {% include news.html %}
    {% endif %}
    <hr align="center" width="100%">
    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}
    <!-- <hr align="center" width="100%"> -->

    <!--  add services -->
    <hr align="center" width="100%">
    {% if page.services %}
      {% include services.html %}
    {% endif %}
    <hr align="center" width="100%">

  </article>

</div>